<div class="side-bar-header">
  <div class="user">
    <a href="#">Mike</a>
  </div>
  <div class="chat-button">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="room">
    <a href="#">chatroom1</a>
  </div>
  <div class="room">
    <a href="#">chatroom2</a>
  </div>
</div>